#resin_plugin {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100;
    height: 60px;
    width: 60px;
    transform: translateY(25%);
    background: rgba(0, 192, 255, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0.75;
    border-radius: 18px 18px 0px 0px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    font-family: sans-serif;
}
#resin_plugin:hover{
    transform: translateY(0);
    opacity: 1;
}
#resin_plugin.active{
    transform: translateY(0);
    opacity: 1;
    cursor: wait;
}
#resin_plugin.error{
    background: rgba(255, 25, 25, 0.75);
}
#resin_plugin.transparent{
    background: unset;
    border-radius: 0;
    cursor: auto;
    height: unset;
    width: unset;
    backdrop-filter: none;
}

#resin{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    user-select: none;
    margin: 5px;
}
#resin-area{
    background: rgb(100, 100, 100, 0.6);
    backdrop-filter: blur(2px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 50px;
    color: white;
}
#resin-area > img{
    height: 40px;
}
#resin-area > .text{
    padding-right: 10px;
}
#resin-description{
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    background: rgb(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    bottom: calc(100% + 6px);
    right: 0;
    backdrop-filter: blur(2px);
}
#resin-description > .text{
    color: #d0be8e;
    white-space: nowrap;
}
#resin:hover #resin-description{
    visibility: visible;
    opacity: 1;
}

#resin-description > .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#server-select{
    border: none;
    outline: none;
    background: #242734;
    color: white;
    border-radius: 0.3em;
    padding: 0.1em 0.25em;
    width: fit-content;
    max-width: 50%;
}
#server-select option{
    display: none;
}

#resin-description .switch-field{
    display: flex;
    max-width: 50%;
}
#resin-description .switch-field img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#resin-description .switch-field input{
    display: none;
}
#resin-description .switch-field label{
    width: 30px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#resin-description .switch-field label:first-of-type {
    border-radius: 8px 0 0 8px;
}
#resin-description .switch-field label:last-of-type {
    border-radius: 0 8px 8px 0;
}
#resin-description .switch-field input:checked + label{
    box-shadow: inset 0px 0px 4px white;
}
